@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{margin: 0;	padding: 0;	border:0;}

body{
	width: 100%;
	color: black;
	font-family: 'Raleway', sans-serif;
}

header{	width: 100%; height: 7rem; background-color:#30105a;}

/*-------------------------------------------------------------------------------*/
#navMenu{
	 width: 30%;
	 height: 3rem; 
	 margin-left: 62%;
	 padding: 0.5% 2%;
}
#ulMenu ul{width:100%;}

li.liCenter{line-height: 3em;}

#ulMenu li{
	list-style: none;
	width:20%; 
	float: left;
}

#ulMenu li a{
	text-decoration: none;
	color:white;
	display: block;
	text-align:center;
	padding: 5%;
}
#ulMenu li a:hover{color: #FF4500}

#blocoCad img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%; 
    width: 50px;
    height: 50px;
}

#blocoCad{padding: 0 2%;}

/*-----------------------------------------------------------------------------*/

div#container{
	width: 80% ;
	margin: 3% 10% 0 10%;
	clear: both;
	color: white;
}

p#pCenter{
	font-size: 1.3em;
	text-align: center;
}

h1{ font-size: 2.5em; 
	font-family: 'Righteous', cursive; 
	margin-bottom: 2%; 
	font-weight: normal;
	text-align: center;
	color: #71a3c0;
}


footer{
	position: relative;
   	bottom: 0;
	clear: both;
	width: 100%;
	text-align: center;
	color: #1e073d;	
}

/*-----------------------------------------------------------------------------*/
#divLogo{
	font-size:30px;
	text-align: center;
	color:#FF4500;
	font-family: 'Righteous', cursive; 
	box-shadow:0 1px 10px black;
}

div#divMenu{margin-left: 10%; float: left; width: 50px;
    height: 50px;}

#iconMenu{
	font-size:35px;
	cursor:pointer;
	color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	background-color: #1e073d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #FF4500;
    box-shadow:0 1px 10px black;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    transition: 0.3s;
    color: white;
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    border-bottom: 1px solid #30105a;
}

.sidenav a:hover {
    color: #FF4500;
}

ul#ulSand li{
	padding: 3% 5%
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*-----------------------------------------------------------------------------*/
div#demoplaceholder{
    height: 768px;
    width: 1024px;
    
}